.vscode/settings.json
x64/*
Assembler80.sln
LB80/LB80.vcxproj
LB80/LB80.vcxproj.filters
LB80/LB80.vcxproj.user
A80/x64/*
A80/A80.vcxproj
A80/A80.vcxproj.filters
A80/A80.vcxproj.user
A80/FALTA
A80/SUGESTAO
L80/x64/*
L80/FALTA
L80/L80.vcxproj
L80/L80.vcxproj.filters
L80/L80.vcxproj.user
LB80/x64/*
.vs/*
A80/.~lock.Z80 instructions.ods#
